* {
    margin: 0;
    padding: 0;
    transition: 0.4s;
}

html {
    background: #36ba9d;
}

body {
    background: inherit;
    font-size: 17px;
    font-family: "Anonymous Pro", monospace;
    line-height: 2;
}

h1, h2, h3 {
    font-family: "Cormorant", sans-serif;
    display: block;
    margin-top: 1rem;
    content: "";
}

p {
margin-bottom: 1.5rem;
}

#main-nav {
    background: inherit;
    height: 100%;
    position: absolute;
    width: 400px;
    left: -390px;
    z-index: 1;
    color: #FFFCF9;
}

#main-nav:after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 30%;
    bottom: 3rem;
    background: inherit;
    opacity: 0;
    background-image: url(../img/cathedral.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
    background-blend-mode: multiply;
    transition: inherit;
}

#main-nav.open {
    left: 0;
}

#main-nav.open:after {
    opacity: 0.2;
}

.next-page, .nav-toggle {
    border: none; 
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    cursor: pointer;
}

.next-page {
position: fixed;
    bottom: 0;
    right: 0;
    height: 55px;
    padding: 0 25px;
    font-size: 1.25rem;
    letter-spacing: 0.15em;

}

.nav-toggle {
    position: absolute;
    right: -72px;
    top: 25px;
    width: 110px;
    height: 55px;
    transform: rotate(-90deg);
    box-sizing: border-box;
    font-size: 1.25rem;

}

.nav-toggle:focus, .next-page:focus {
    outline: none;
}

#main-nav ul {
    list-style-type: none;
    font-size: 3rem;
    position: absolute;
    text-align: right;
    bottom: 15%;
    right: 15%;
    z-index: 1;
}

#main-nav ul a {
    font-style: italic;
    text-decoration: none;
    color: inherit;
}

main {
    background: inherit;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 10px solid transparent;
    box-sizing: border-box;
}

.page {
    color: #474551;
    overflow: hidden;
    background: #ebeaef;
    display: inline-block;
    padding: 10% 15%;
    white-space: normal;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}

.page > * {
    opacity: 0;
    margin-top: -20px;
    transition: 1.5s;
}

#contact.page {
    text-align: right;
    width: 2rem;
    padding: 10% 4rem;
    color: #ebeaef;
    background: #474551;
}